<section class='problems'>
  <div class='problems__banner'>
    <img alt='problems' class='problems__banner-img' src='images/problems/problems-banner.png'>
    <img alt='problems' class='problems__banner-text' src='images/problems/problem-text.svg'>
    <div class='problems__banner-rectangle'></div>
  </div>
  <div class='problems__solution'>
    <h1>какие</h1>
    <h2 class='header-problems'>проблемы</h2>
    <h3 class='header-procedure'>решает процедура</h3>
    <div class='problems__solutions'>
      <ul>
        <li>
          <img alt='solution1' src='images/problems/problems-icon1.svg'>
          <span>Мелкие и глубокие морщины</span>
        </li>
        <li>
          <img alt='solution2' src='images/problems/problems-icon2.svg'>
          <span>Обвисание кожи и нечеткий овал</span>
        </li>
        <li>
          <img alt='solution3' src='images/problems/problems-icon3.svg'>
          <span>Носогубные складки</span>
        </li>
        <li>
          <img alt='solution4' src='images/problems/problems-icon4.svg'>
          <span>Наличие брылей и второго подбородка</span>
        </li>
        <li>
          <img alt='solution5' src='images/problems/problems-icon5.svg'>
          <span>Опущение кончиков губ и бровей</span>
        </li>
        <li>
          <img alt='solution6' src='images/problems/problems-icon6.svg'>
          <span>Ассиметрия лица</span>
        </li>
      </ul>
    </div>
    <div class='appointment-btn callback'>
      <img alt='' src='images/appointment-btn/dust/circle1.svg'>
      <img alt='' src='images/appointment-btn/dust/circle2.svg'>
      <span></span>
      <button>Записаться</button>
    </div>
  </div>
  <img alt='background dots' class='background-dots' src='images/bg-dots.svg'>
  <img alt='line' class='problems__line' src='images/problems/problems-line.svg'>
</section>