.problems {
  display: flex;
  background-color: #fff;
  width: 100%;
  position: relative;

  .background-dots {
    position: absolute;
    top: 0;
    left: calc(1920px / 2 - 273px);
  }

  .problems__banner {

    .problems__banner-img {
      position: relative;
      width: toRem(644);
      margin: toRem(93) 0 toRem(232) toRem(264);
      z-index: 10;
    }

    .problems__banner-text {
      position: absolute;
      left: toRem(186);
      bottom: toRem(263);
      z-index: 20;
    }

    .problems__banner-rectangle {
      position: absolute;
      left: toRem(132);
      bottom: toRem(161);
      width: toRem(711);
      height: toRem(384);
      background-color: #F0E3DA;
    }
  }

  .problems__solution {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: toRem(245) 0 0 toRem(72);

    h1 {
      top: toRem(120);
      left: -90px;
      position: absolute;
      font-family: Kudryashev, sans-serif;
      font-size: toRem(88);
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      font-weight: 400;
      z-index: 10;
    }

    h2 {
      font-family: Kudryashev, sans-serif;
      font-size: toRem(88);
      text-transform: uppercase;
      margin: 0;
      font-weight: 400;
    }

    .header-problems {
      font-size: toRem(76);
      color: #B68C6E;
    }

    .header-procedure {
      padding: 0;
      margin: 0;
      color: #312C38;
      font-size: toRem(20);
      text-transform: uppercase;
      font-weight: 400;
    }


    .problems__solutions {
      display: flex;
      width: 100%;
      margin-top: toRem(45);

      ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        list-style: none;
        padding: 0;

        li {
          display: flex;
          align-items: center;
          gap: toRem(26);
          width: 50%;
          padding-top: 25px;


          span {
            max-width: toRem(226);
            font-weight: 400;
            letter-spacing: .5px;
            line-height: 29.68px;
          }
        }
      }
    }

    .appointment-btn {

      span {
        mask-image: url('/images/appointment-btn/dust/arrow.svg');
        background-color: #B68C6E;
      }

      button {
        color: #000;
      }
    }
  }

  .problems__line {
    position: absolute;
    top: 0;
    right: 0;
  }
}

/// ----

@media only screen and (max-width: 430px) {

  .problems {
    flex-direction: column;

    .problems__banner {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: toRem(33);

      .problems__banner-img {
        width: toRem(300);
        height: auto;
        margin: 0;
      }

      .problems__banner-text {
        left: 5%;
        bottom: 0;
        width: toRem(140);
      }

      .problems__banner-rectangle {
        width: toRem(267);
        height: toRem(152);
        bottom: toRem(-50);
        left: 0;
      }
    }

    .problems__solution {
      padding: toRem(85) 0 0 25%;

      h1 {
        left: toRem(30);
        top: toRem(37);
        font-size: toRem(37);
      }

      .header-problems {
        font-size: toRem(37);
      }

      .header-procedure {
        font-size: toRem(18);
      }

      .problems__solutions {
        ul {
          flex-wrap: nowrap;
          flex-direction: column;
          margin-top: 0;

          li {
            width: 100%;
          }
        }
      }

      .appointment-btn {
        width: toRem(225);

        img {
          width: toRem(88)
        }

        button {
          font-size: toRem(18);
        }
      }
    }

    .background-dots {
      left: 0;
      top: 35%;
      width: 65%;
    }

    .problems__line {
      display: none;
    }
  }
}