<div class='sidenav' id='sidenav'>
  <div class='sidenav__wrapper'>
    <button class='close__sidenav' id='close-sidenav'>&#10005;</button>
    <div class='sidenav__menu'>
      <h3>Меню</h3>
      <ul>
        <li><a href='#'>Стоимость онлайн</a></li>
        <li><a href='#'>О компании</a></li>
        <li><a href='#'>О компании</a></li>
        <li><a href='#'>Фото салона</a></li>
        <li><a href='#'>Специалисты</a></li>
        <li><a href='#'>Контакты</a></li>
      </ul>
    </div>
    <div class='sidenav__social'>
      <a href='https://vk.com' target='_blank'>
        <img alt='vk' src='images/social/vk.svg'>
      </a>
      <a href='https://instagram.com' target='_blank'>
        <img alt='instagram' src='images/social/instagram.svg'>
      </a>
      <a href='https://whatsapp.com' target='_blank'>
        <img alt='wa' src='images/social/whatsapp.svg'>
      </a>
    </div>
    <span class='sidenav__copyright'>© 2020 ART Beauty</span>
  </div>
</div>