.sidenav {
  display: none;
}

@media only screen and (max-width: 430px) {

  .sidenav {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.75);
    z-index: 99999;
    transform: translateX(500px);
    transition: transform .5s;
    justify-content: end;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    .sidenav__wrapper {
      width: 200px;
      height: 100%;
      background-color: #1D1D1E;
      box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

      .close__sidenav {
        position: absolute;
        display: block;
        top: toRem(8);
        right: toRem(15);
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 20px;
      }

      .sidenav__menu {
        display: flex;
        flex-direction: column;
        padding: toRem(20) toRem(20);

        h3 {
          color: #fff;
          text-transform: uppercase;
          font-weight: 600;
          font-size: toRem(16);
          border-bottom: 2px solid #B78C6E;
          padding-bottom: toRem(2);
        }

        ul {
          display: flex;
          flex-direction: column;
          list-style: none;
          padding-top: toRem(10);
          gap: toRem(17);

          li {

            a {
              color: #B78C6E;
              font-weight: 500;
            }
          }
        }
      }

      .sidenav__social {
        display: flex;
        gap: toRem(36);
        width: 100%;
        justify-content: space-around;
        padding: toRem(10) toRem(20) toRem(5);
      }

      .sidenav__copyright {
        display: block;
        color: #fff;
        margin: toRem(5) toRem(20);
        padding-top: toRem(10);
        font-size: toRem(14);
        text-align: right;
        border-top: 2px solid #B78C6E;
      }
    }
  }
}