<section class='procedure'>
  <div class='procedure__wrapper'>
    <div class='procedure__title'>
      <h2>Станьте моложе на 5 лет за 1 процедуру</h2>
      <h3>Запишитесь на процедуру и получите рекомендации от Доктора Медицинских Наук по нитевым
        методикам для вашего лица бесплатно!
      </h3>
    </div>
    <form class='procedure__form' id='promo-form'>
      <label for='promo-name'>
        <input id='promo-name' name='promo-name' placeholder='ВАШЕ ИМЯ' type='text'>
      </label>
      <label for='promo-tel'>
        <input id='promo-tel' name='promo-tel' placeholder='ВАШЕ ТЕЛЕФОН' type='tel'>
      </label>
      <button class='submit-btn' type='submit'>записаться со скидкой</button>
    </form>
  </div>
  <div class='procedure__banner'>
    <img alt='desc' src='images/procedure-promo-desc.png'>
  </div>
</section>