<div class='modal'>
  <div class='modal__wrapper'>
    <div class='modal__header'>
      <h1 class='modal__title'>Запись на прием</h1>
      <button class='close__modal' id='close-modal'>&#10005;</button>
    </div>
    <form class='appointment-form' id='appointment-form'>
      <label for='appointment-tel'>
        <input id='appointment-name' name='promo-name' placeholder='ВАШЕ ИМЯ' type='text'>
      </label>
      <label for='appointment-tel'>
        <input id='appointment-tel' name='promo-tel' placeholder='ВАШЕ ТЕЛЕФОН' type='tel'>
      </label>
      <button class='submit-btn' type='submit'>записаться со скидкой</button>
    </form>
  </div>
</div>