@font-face {
  font-family: "Kudryashev";
  src: local("Kudryashev Headline Regular"), local("Kudryashev-Headline-Regular"), url("../fonts/KudryashevHeadline-Regular.woff2") format("woff2"), url("../fonts/KudryashevHeadline-Regular.woff") format("woff"), url("../fonts/KudryashevHeadline-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: Montserrat, sans-serif;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fff;
  overflow-x: hidden;
  max-width: 1920px;
}

.header {
  display: flex;
  width: 100%;
}
.header .header__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0 16.25rem;
  background-image: url("../images/header-bg.png");
  background-size: cover;
  width: 100%;
  overflow: hidden;
}
.header .header__wrapper .nav {
  display: flex;
  width: 100%;
  align-items: center;
}
.header .header__wrapper .nav .nav__info {
  display: flex;
  gap: 2.125rem;
  padding-left: 1.625rem;
}
.header .header__wrapper .nav .nav__info .nav__about {
  font-size: 14px;
  width: 10.8125rem;
  color: #fff;
  line-height: 21.76px;
  font-weight: 500;
}
.header .header__wrapper .nav .nav__info .nav_address {
  font-size: 14px;
  width: 242px;
  color: #fff;
  line-height: 21.76px;
  font-weight: 500;
}
.header .header__wrapper .nav .nav__social {
  display: flex;
  gap: 2.25rem;
  padding-left: 14.0625rem;
  z-index: 10;
}
.header .header__wrapper .nav .nav__phone {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  margin-left: 40px;
  gap: 0.8125rem;
  z-index: 10;
}
.header .header__wrapper .nav .nav__phone .nav__number {
  display: flex;
  color: #fff;
  font-family: Kudryashev, sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  letter-spacing: 0.05em;
}
.header .header__wrapper .nav .nav__phone .nav__desc {
  display: block;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.63px;
}
.header .header__wrapper .main {
  display: flex;
  flex-direction: column;
}
.header .header__wrapper .main .main__title {
  display: flex;
  flex-direction: column;
  padding: 4.25rem 0 0 0;
  max-width: 36.3125rem;
}
.header .header__wrapper .main .main__title h1 {
  font-family: Kudryashev, sans-serif;
  font-size: 5rem;
  max-width: 36.25rem;
  color: #fff;
  font-weight: 200;
  margin: 0;
  text-transform: uppercase;
}
.header .header__wrapper .main .main__title span {
  font-family: Kudryashev, sans-serif;
  margin: 0;
  color: #fff;
  display: block;
  font-size: 3.75rem;
  text-transform: uppercase;
}
.header .header__wrapper .main .main__desc {
  color: #fff;
  font-size: 1.4375rem;
  max-width: 23.625rem;
}
.header .header__wrapper .main .main__desc span {
  font-weight: 600;
}
.header .header__wrapper .main .appointment-btn {
  margin: 3.125rem 0 6.25rem;
}
.header .header__wrapper .header__background {
  position: absolute;
  display: block;
  top: -3.125rem;
  right: 18.75rem;
  background-image: url("../images/bg-dots.svg");
  width: 34.125rem;
  height: 34.125rem;
}
.header .header__wrapper .header__background .header__background-text {
  position: absolute;
  bottom: 0;
  right: 16%;
  width: 13.9375rem;
  height: 13.0625rem;
}
.header .header__wrapper .header__background .header__background-img {
  position: absolute;
  bottom: 16%;
  right: 36%;
  display: block;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background-color: #fff;
}

.problems {
  display: flex;
  background-color: #fff;
  width: 100%;
  position: relative;
}
.problems .background-dots {
  position: absolute;
  top: 0;
  left: 687px;
}
.problems .problems__banner .problems__banner-img {
  position: relative;
  width: 40.25rem;
  margin: 5.8125rem 0 14.5rem 16.5rem;
  z-index: 10;
}
.problems .problems__banner .problems__banner-text {
  position: absolute;
  left: 11.625rem;
  bottom: 16.4375rem;
  z-index: 20;
}
.problems .problems__banner .problems__banner-rectangle {
  position: absolute;
  left: 8.25rem;
  bottom: 10.0625rem;
  width: 44.4375rem;
  height: 24rem;
  background-color: #F0E3DA;
}
.problems .problems__solution {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 15.3125rem 0 0 4.5rem;
}
.problems .problems__solution h1 {
  top: 7.5rem;
  left: -90px;
  position: absolute;
  font-family: Kudryashev, sans-serif;
  font-size: 5.5rem;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-weight: 400;
  z-index: 10;
}
.problems .problems__solution h2 {
  font-family: Kudryashev, sans-serif;
  font-size: 5.5rem;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
}
.problems .problems__solution .header-problems {
  font-size: 4.75rem;
  color: #B68C6E;
}
.problems .problems__solution .header-procedure {
  padding: 0;
  margin: 0;
  color: #312C38;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 400;
}
.problems .problems__solution .problems__solutions {
  display: flex;
  width: 100%;
  margin-top: 2.8125rem;
}
.problems .problems__solution .problems__solutions ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  list-style: none;
  padding: 0;
}
.problems .problems__solution .problems__solutions ul li {
  display: flex;
  align-items: center;
  gap: 1.625rem;
  width: 50%;
  padding-top: 25px;
}
.problems .problems__solution .problems__solutions ul li span {
  max-width: 14.125rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 29.68px;
}
.problems .problems__solution .appointment-btn span {
  mask-image: url("../images/appointment-btn/dust/arrow.svg");
  background-color: #B68C6E;
}
.problems .problems__solution .appointment-btn button {
  color: #000;
}
.problems .problems__line {
  position: absolute;
  top: 0;
  right: 0;
}

.procedure {
  display: flex;
  width: 100%;
}
.procedure .procedure__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  background-color: #1D1D1A;
  padding: 10.3125rem 0;
}
.procedure .procedure__wrapper .procedure__title {
  display: flex;
  flex-direction: column;
  max-width: 32.5625rem;
}
.procedure .procedure__wrapper .procedure__title h2 {
  font-weight: 400;
  font-family: Kudryashev, sans-serif;
  color: #B68C6E;
  font-size: 3.125rem;
  text-align: center;
  margin: 0;
}
.procedure .procedure__wrapper .procedure__title h3 {
  color: #FFFFFF;
  text-align: center;
  line-height: 2.25rem;
  font-weight: 400;
  font-size: 1.125rem;
  margin-top: 1.375rem;
}
.procedure .procedure__wrapper .procedure__form {
  display: flex;
  flex-direction: column;
  gap: 1.375rem;
  margin-top: 1.375rem;
  width: 55%;
}
.procedure .procedure__wrapper .procedure__form label {
  display: flex;
  width: 100%;
}
.procedure .procedure__wrapper .procedure__form label input {
  padding: 0 2.5rem;
  width: 100%;
  height: 5.8125rem;
  background-color: transparent;
  border: 2px solid #B68C6E;
  color: #FFFFFF;
  font-size: 1.5625rem;
}
.procedure .procedure__wrapper .procedure__form label input::placeholder {
  color: #504339;
  transition: 0.3s;
}
.procedure .procedure__wrapper .procedure__form label input:hover::placeholder {
  color: #FFFFFF;
  padding-left: 5%;
}
.procedure .procedure__wrapper .procedure__form button {
  height: 5.8125rem;
  width: 100%;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid #B68C6E;
  color: #FFFFFF;
  transition: 0.2s;
}
.procedure .procedure__wrapper .procedure__form button:hover {
  font-weight: 500;
  font-size: 1.25rem;
  color: #B68C6E;
}
.procedure .procedure__wrapper .procedure__form button:active {
  font-weight: 500;
  font-size: 1.25rem;
  color: #B68C6E;
  transform: scale(95%);
}
.procedure .procedure__banner {
  position: relative;
  display: flex;
  background-image: url("../images/procedure-promo.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
}
.procedure .procedure__banner img {
  position: absolute;
  top: 4.375rem;
  left: 4.375rem;
  width: 20rem;
  height: auto;
}

.example {
  width: 100%;
  position: relative;
}
.example .example__wrapper {
  display: flex;
  flex-direction: column;
  padding: 6.875rem 12.5rem 0;
}
.example .example__wrapper .example__title {
  width: 100%;
}
.example .example__wrapper .example__title h1 {
  font-size: 5.3125rem;
  font-weight: 400;
  max-width: 50rem;
  font-family: Kudryashev, sans-serif;
  line-height: 76.5px;
}
.example .example__wrapper .example__features {
  padding-top: 3.4375rem;
}
.example .example__wrapper .example__features ul {
  display: flex;
  list-style-type: none;
  gap: 3.125rem;
}
.example .example__wrapper .example__features ul li {
  max-width: 20rem;
}
.example .example__wrapper .example__features ul li h5 {
  margin: 1.6875rem 0 0.9375rem;
  font-weight: 600;
  text-transform: uppercase;
}
.example .example__wrapper .example__features ul li p {
  font-size: 1rem;
  letter-spacing: 1px;
}
.example .example__wrapper .example__slider-appointment {
  display: flex;
  width: 100%;
  justify-content: center;
}
.example .example__wrapper .example__slider-appointment .example__slider {
  display: flex;
  justify-content: center;
  margin-top: 6.25rem;
  position: relative;
  z-index: 100;
}
.example .example__wrapper .example__slider-appointment .example__slider img-comparison-slider:focus {
  outline: none;
}
.example .example__wrapper .example__slider-appointment .example__slider img-comparison-slider img:not(:last-child) {
  width: 28.125rem;
}
.example .example__wrapper .example__slider-appointment .example__slider .example__slider-after {
  position: absolute;
  left: calc(50% - 200px);
  bottom: 1.25rem;
  z-index: 100;
}
.example .example__wrapper .example__slider-appointment .example__appointment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 7.5rem;
}
.example .example__wrapper .example__slider-appointment .example__appointment h2 {
  margin-left: 4rem;
  font-family: Kudryashev, sans-serif;
  font-size: 5.3125rem;
  color: #B68C6E;
  font-weight: 400;
}
.example .example__wrapper .example__slider-appointment .example__appointment h3 {
  margin-left: 10rem;
  font-family: Kudryashev, sans-serif;
  font-size: 7.5rem;
  font-weight: 400;
  line-height: 93.25px;
}
.example .example__wrapper .example__slider-appointment .example__appointment p {
  max-width: 22.5rem;
  margin-left: 10rem;
  margin-top: 3.125rem;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 36.9px;
}
.example .example__wrapper .example__slider-appointment .example__appointment p span {
  color: #B78C6E;
}
.example .example__wrapper .example__slider-appointment .example__appointment .appointment-btn {
  margin-left: 5rem;
  z-index: 100;
}
.example .example__wrapper .example__slider-appointment .example__appointment .appointment-btn span {
  mask-image: url("../images/appointment-btn/dust/arrow.svg");
  background-color: #B78C6E;
}
.example .example__wrapper .example__slider-appointment .example__appointment .appointment-btn button {
  color: black;
}
.example .example__line {
  position: absolute;
  top: 0;
  right: 12%;
}
.example .example__background-dots {
  position: absolute;
  bottom: 0;
  right: calc(50% - 500px);
}

.clients {
  display: flex;
  width: 100%;
  background-color: #F0E3DA;
}
.clients .clients__wrapper {
  display: flex;
  flex-direction: column;
  margin: 6.875rem 16.125rem;
  width: 100%;
  overflow: hidden;
}
.clients .clients__wrapper .clients__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.clients .clients__wrapper .clients__header .clients__title {
  display: flex;
  flex-direction: column;
}
.clients .clients__wrapper .clients__header .clients__title h2 {
  font-size: 5.3125rem;
  font-weight: 400;
  font-family: Kudryashev, sans-serif;
  color: #B78C6E;
  margin: 0;
  padding: 0;
}
.clients .clients__wrapper .clients__header .clients__title h3 {
  font-size: 5.3125rem;
  font-weight: 400;
  font-family: Kudryashev, sans-serif;
  margin: 0;
  padding: 0;
}
.clients .clients__wrapper .clients__header .clients__controls {
  display: flex;
  gap: 0.9375rem;
}
.clients .clients__wrapper .clients__header .clients__controls button {
  padding: 0;
  color: #DBBF8D;
  font-size: 3.4375rem;
  background-color: #F9F4F0;
  width: 6rem;
  height: 6rem;
  border: none;
  transition: 0.2s;
}
.clients .clients__wrapper .clients__header .clients__controls button:hover {
  transform: scale(105%);
  font-size: 3.75rem;
}
.clients .clients__wrapper .clients__header .clients__controls button:active {
  transform: scale(95%);
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000000;
}
.footer .footer__wrapper {
  display: flex;
  background-color: #D1AE8E;
  margin: 6.875rem 16.25rem;
}
.footer .footer__wrapper .footer__logo {
  display: flex;
  flex-direction: column;
  padding-top: 4.0625rem;
  padding-left: 4.375rem;
}
.footer .footer__wrapper .footer__logo span {
  width: 15.625rem;
  color: #fff;
  font-size: 1rem;
}
.footer .footer__wrapper .footer__menu {
  display: flex;
  flex-direction: column;
  margin-left: 5.625rem;
  margin-top: 6.0625rem;
}
.footer .footer__wrapper .footer__menu h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}
.footer .footer__wrapper .footer__menu ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  gap: 1.0625rem;
}
.footer .footer__wrapper .footer__menu ul li a {
  color: #fff;
  font-weight: 500;
}
.footer .footer__wrapper .footer__contacts {
  display: flex;
  flex-direction: column;
  margin-left: 10rem;
  margin-top: 6.0625rem;
}
.footer .footer__wrapper .footer__contacts h3 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}
.footer .footer__wrapper .footer__contacts .footer__address {
  display: flex;
  flex-direction: column;
}
.footer .footer__wrapper .footer__contacts .footer__address span {
  color: #FFFFFF;
}
.footer .footer__wrapper .footer__contacts .footer__address a {
  padding-top: 0.625rem;
  color: #FFFFFF;
  text-decoration: underline;
}
.footer .footer__wrapper .footer__contacts .footer__mail h4 {
  font-size: 0.75rem;
  color: #ffffff;
  font-weight: 500;
}
.footer .footer__wrapper .footer__contacts .footer__mail a {
  color: #ffffff;
}
.footer .footer__wrapper .footer__contacts .footer__socials h4 {
  font-size: 0.75rem;
  color: #ffffff;
  font-weight: 500;
}
.footer .footer__wrapper .footer__contacts .footer__socials ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  gap: 0.9375rem;
}
.footer .footer__wrapper .footer__phone {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: 8.125rem;
  margin-left: 4.375rem;
  margin-bottom: 8.75rem;
}
.footer .footer__wrapper .footer__phone h3 {
  font-size: 0.75rem;
  color: #FFFFFF;
  font-weight: 400;
  margin: 0;
}
.footer .footer__wrapper .footer__phone span {
  font-family: Kudryashev, sans-serif;
  font-size: 1.375rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: #FFFFFF;
}
.footer .footer__wrapper .footer__phone .tel-two {
  padding-top: 1.0625rem;
}
.footer .footer__wrapper .footer__phone a {
  font-weight: 700;
  padding-top: 1.375rem;
  color: #FFFFFF;
}
.footer .footer__wrapper .footer__phone .footer__callback {
  width: fit-content;
  border-bottom: 2px solid #DFC6B0;
}
.footer .footer__copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.375rem;
  margin-bottom: 1.875rem;
}
.footer .footer__copyright span {
  color: #DCD5CE;
  font-size: 1rem;
  text-align: center;
}
.footer .footer__copyright .footer__politics {
  cursor: pointer;
  text-decoration: underline;
}

/* ---------------- MEDIA-QUERY 430px ----------------- */
@media only screen and (max-width: 430px) {
  .header {
    max-height: 59.3125rem;
  }
  .header .header__wrapper {
    padding: 0 1.5625rem;
    background-image: url("../images/mobile-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header .header__wrapper .nav .nav__logo {
    margin-top: 0.6875rem;
  }
  .header .header__wrapper .nav .nav__logo a img {
    width: 10.9375rem;
  }
  .header .header__wrapper .nav .nav__info {
    display: none;
  }
  .header .header__wrapper .nav .nav__social {
    display: none;
  }
  .header .header__wrapper .nav .nav__phone {
    display: none;
  }
  .header .header__wrapper .main {
    height: 100%;
  }
  .header .header__wrapper .main .main__title h1 {
    font-size: 1.875rem;
    line-height: 50px;
  }
  .header .header__wrapper .main .main__title span {
    font-size: 1.875rem;
    line-height: 50px;
    width: 15rem;
  }
  .header .header__wrapper .main .main__desc {
    font-size: 0.75rem;
    width: 166px;
    line-height: 1.25rem;
  }
  .header .header__wrapper .main .appointment-btn {
    margin: 0;
    width: auto;
  }
  .header .header__wrapper .main .appointment-btn img {
    width: 110px;
  }
  .header .header__wrapper .main .appointment-btn span {
    margin-left: 12%;
  }
  .header .header__wrapper .main .appointment-btn button {
    font-size: 1rem;
  }
  .header .header__wrapper .header__background {
    top: 2%;
    left: 40%;
    background-size: 50%;
    background-repeat: no-repeat;
  }
  .header .header__wrapper .header__background .header__background-text {
    display: none;
  }
  .header .header__wrapper .header__background .header__background-img {
    display: none;
  }
  .problems {
    flex-direction: column;
  }
  .problems .problems__banner {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 2.0625rem;
  }
  .problems .problems__banner .problems__banner-img {
    width: 18.75rem;
    height: auto;
    margin: 0;
  }
  .problems .problems__banner .problems__banner-text {
    left: 5%;
    bottom: 0;
    width: 8.75rem;
  }
  .problems .problems__banner .problems__banner-rectangle {
    width: 16.6875rem;
    height: 9.5rem;
    bottom: -3.125rem;
    left: 0;
  }
  .problems .problems__solution {
    padding: 5.3125rem 0 0 25%;
  }
  .problems .problems__solution h1 {
    left: 1.875rem;
    top: 2.3125rem;
    font-size: 2.3125rem;
  }
  .problems .problems__solution .header-problems {
    font-size: 2.3125rem;
  }
  .problems .problems__solution .header-procedure {
    font-size: 1.125rem;
  }
  .problems .problems__solution .problems__solutions ul {
    flex-wrap: nowrap;
    flex-direction: column;
    margin-top: 0;
  }
  .problems .problems__solution .problems__solutions ul li {
    width: 100%;
  }
  .problems .problems__solution .appointment-btn {
    width: 14.0625rem;
  }
  .problems .problems__solution .appointment-btn img {
    width: 5.5rem;
  }
  .problems .problems__solution .appointment-btn button {
    font-size: 1.125rem;
  }
  .problems .background-dots {
    left: 0;
    top: 35%;
    width: 65%;
  }
  .problems .problems__line {
    display: none;
  }
  .procedure {
    flex-direction: column-reverse;
  }
  .procedure .procedure__wrapper {
    width: 100%;
    padding: 2.1875rem 0;
  }
  .procedure .procedure__wrapper .procedure__title h2 {
    margin: 0 auto;
    font-size: 2.1875rem;
    text-align: center;
    width: 80%;
    line-height: 50px;
    font-weight: 400;
    letter-spacing: 4px;
  }
  .procedure .procedure__wrapper .procedure__title h3 {
    text-align: center;
    font-size: 0.875rem;
    text-transform: uppercase;
    padding: 0 0.9375rem;
  }
  .procedure .procedure__form {
    width: 90% !important;
    align-items: center;
  }
  .procedure .procedure__banner {
    width: 100%;
    height: 600px;
    position: relative;
    background-image: url("../images/procedure-promo-mobile.png");
    background-size: cover;
  }
  .procedure .procedure__banner img {
    position: absolute;
    top: 1.625rem;
    left: 1.25rem;
    width: 11.25rem;
    height: auto;
  }
  .example .example__wrapper {
    padding: 3.125rem 0rem;
  }
  .example .example__wrapper .example__title {
    padding: 0 0.875rem;
  }
  .example .example__wrapper .example__title h1 {
    font-size: 2.3125rem;
    line-height: 40px;
  }
  .example .example__wrapper .example__features {
    padding: 2.125rem 0.875rem 0;
  }
  .example .example__wrapper .example__features ul {
    flex-direction: column;
  }
  .example .example__wrapper .example__features ul li h5 {
    margin: 0.875rem 0 0.625rem;
  }
  .example .example__wrapper .example__slider-appointment {
    flex-direction: column-reverse;
  }
  .example .example__wrapper .example__slider-appointment .example__appointment {
    padding: 6.625rem 0.875rem 0;
  }
  .example .example__wrapper .example__slider-appointment .example__appointment h2 {
    font-size: 2.3125rem;
    margin-left: 0;
    line-height: 40.59px;
  }
  .example .example__wrapper .example__slider-appointment .example__appointment h3 {
    font-size: 2.3125rem;
    margin-left: 0;
    line-height: 40.59px;
  }
  .example .example__wrapper .example__slider-appointment .example__appointment p {
    font-size: 1.125rem;
    margin-left: 0;
    max-width: 80%;
    line-height: 25px;
    text-wrap: wrap;
  }
  .example .example__wrapper .example__slider-appointment .example__appointment .appointment-btn {
    display: none;
  }
  .example .example__background-dots {
    position: absolute;
    bottom: 500px;
    right: 10%;
    width: 70%;
  }
  .example .example__line {
    right: 0;
  }
  .clients {
    padding: 2.75rem 0 1.25rem;
  }
  .clients .clients__wrapper {
    margin: 0;
  }
  .clients .clients__wrapper .clients__header {
    flex-direction: column;
    position: relative;
  }
  .clients .clients__wrapper .clients__header .clients__title h2 {
    font-size: 2.3125rem;
    text-align: center;
  }
  .clients .clients__wrapper .clients__header .clients__title h3 {
    font-size: 2.3125rem;
    text-align: center;
  }
  .clients .clients__wrapper .clients__header .clients__controls {
    position: absolute;
    width: 100%;
    justify-content: space-between;
    bottom: -150px;
  }
  .clients .clients__wrapper .clients__header .clients__controls button {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5625rem;
    z-index: 100;
  }
  .clients .clients__wrapper .clients__header .clients__controls button:hover {
    transform: scale(105%);
    font-size: 1.5625rem;
  }
  .clients .clients__wrapper .clients__header .clients__controls button:active {
    transform: scale(95%);
  }
  .footer {
    background-color: #D1AE8E;
  }
  .footer .footer__wrapper {
    flex-direction: column;
    margin: 0;
    background-color: #D1AE8E;
  }
  .footer .footer__wrapper .footer__logo {
    display: none;
  }
  .footer .footer__wrapper .footer__menu {
    margin: 2.5rem 0 0;
    align-items: center;
  }
  .footer .footer__wrapper .footer__menu ul {
    align-items: center;
  }
  .footer .footer__wrapper .footer__contacts {
    margin: 2.4375rem 0 0;
    align-items: center;
    gap: 0.8125rem;
  }
  .footer .footer__wrapper .footer__contacts h3 {
    margin: 0;
  }
  .footer .footer__wrapper .footer__contacts .footer__address {
    align-items: center;
  }
  .footer .footer__wrapper .footer__contacts .footer__mail {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer .footer__wrapper .footer__contacts .footer__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.0625rem 0 0;
  }
  .footer .footer__wrapper .footer__contacts .footer__socials h4 {
    margin: 0;
  }
  .footer .footer__wrapper .footer__phone {
    margin: 1.75rem 0 2.1875rem;
    align-items: center;
  }
  .footer .footer__wrapper .footer__phone a {
    padding-top: 1.125rem;
  }
  .footer .footer__copyright {
    color: #fff;
    font-size: 0.875rem;
  }
  .footer .footer__copyright .footer__copyrights {
    color: inherit;
    font-size: inherit;
  }
  .footer .footer__copyright .footer__politics {
    color: inherit;
    font-size: inherit;
  }
  .swiper-slide {
    display: flex !important;
    flex-direction: column;
  }
  .client-tile {
    border: none !important;
    align-self: center;
  }
}
/* ---------------- MEDIA-QUERY 1440px ----------------- */
@media only screen and (min-width: 431px) and (max-width: 1440px) {
  .header .header__wrapper {
    padding: 0 1.5625rem !important;
  }
  .header .header__wrapper .nav .nav__social {
    margin-left: auto !important;
    padding-left: 0 !important;
  }
  .example .example__wrapper {
    padding: 6.875rem 3.125rem 0;
  }
  .clients .clients__wrapper {
    margin: 6.875rem 3.125rem !important;
  }
  .footer .footer__wrapper {
    margin: 0 0 1.25rem !important;
  }
}
/* ---------------- MEDIA-QUERY 1650px ----------------- */
@media only screen and (min-width: 431px) and (max-width: 1650px) {
  .header .header__wrapper {
    padding: 0 6.25rem;
  }
  .header .header__wrapper nav .nav__social {
    margin-left: auto !important;
    padding-left: 0 !important;
  }
  .header .header__background {
    right: 0 !important;
  }
  .clients .clients__wrapper {
    margin: 6.875rem 9.375rem;
  }
  .problems .problems__banner .problems__banner-img {
    margin: 5.8125rem 0 14.5rem 3.125rem;
  }
  .problems .problems__banner .problems__banner-text {
    left: 3.125rem;
  }
  .problems .problems__banner .problems__banner-rectangle {
    left: 0;
  }
  .footer .footer__wrapper {
    display: flex;
    justify-content: center;
    margin: 0 0 1.25rem !important;
  }
  .footer .footer__wrapper .footer__logo {
    padding-left: 0;
  }
}
/* ---------------- MEDIA-QUERY 1850px ----------------- */
@media only screen and (min-width: 1650px) and (max-width: 1885px) {
  .footer .footer__wrapper {
    display: flex;
    justify-content: center;
    margin: 6.875rem 11.25rem !important;
  }
  .footer .footer__wrapper .footer__logo {
    padding-left: 0;
  }
}
/* ---------------- appointment-btn ----------------- */
.appointment-btn {
  position: relative;
  display: flex;
  align-items: center;
  width: 21.5625rem;
  height: 10rem;
  transition: transform 0.5s;
}
.appointment-btn:hover {
  transform: scale(105%);
}
.appointment-btn:active {
  transform: scale(95%);
}
.appointment-btn img {
  position: absolute;
}
.appointment-btn span {
  mask-image: url("../images/appointment-btn/white/arrow.svg");
  width: 1.3125rem;
  height: 0.625rem;
  margin-left: 17%;
  mask-repeat: no-repeat;
  mask-size: 100%;
  background-color: #fff;
}
.appointment-btn button {
  margin-left: 1rem;
  color: #fff;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  line-height: 30.48px;
  letter-spacing: 0.05em;
}

/* ---------------- swiper ----------------- */
.swiper {
  width: 100%;
  margin-top: 4.625rem;
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
}

.swiper-button-disabled {
  opacity: 0;
}

/* ---------------- client-tile ----------------- */
.client-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: 18.75rem;
  height: auto;
  border-left: 1px solid rgba(128, 128, 128, 0.2);
  border-right: 1px solid rgba(128, 128, 128, 0.2);
  padding: 0 1.875rem;
}
.client-tile:first-child {
  border-left: none;
}
.client-tile:last-child {
  border-right: none;
}
.client-tile .client-photo {
  width: 7.5rem;
}
.client-tile .client-name {
  margin-top: 1.9375rem;
  font-family: Kudryashev, sans-serif;
  text-align: center;
  font-size: 1.25rem;
  letter-spacing: 0.125rem;
  color: #1D1D1A;
}
.client-tile .client-desc {
  margin-top: 0.625rem;
  text-align: center;
  line-height: 1.4375rem;
  font-size: 0.875rem;
  color: #22211E;
}

.client-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.875rem;
}
.client-social ul {
  display: flex;
  gap: 2.1875rem;
  list-style: none;
  padding: 0;
}
.client-social ul li {
  display: flex;
  align-items: center;
}

/* ---------------- comparison-slider ----------------- */

/*# sourceMappingURL=styles.css.map */
