@import 'fonts';
@import 'utils';

* {
  font-family: Montserrat, sans-serif;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: red solid 1px;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fff;
  overflow-x: hidden;
  max-width: 1920px;
}

.header {
  display: flex;
  width: 100%;

  .header__wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 rem(260);
    background-image: url('../images/header-bg.png');
    background-size: cover;
    background-position: center center;
    width: 100%;
    overflow: hidden;

    .nav {
      display: flex;
      width: 100%;
      align-items: center;

      .nav__info {
        display: flex;
        gap: rem(34);
        padding-left: rem(26);

        .nav__about {
          font-size: 14px;
          width: rem(173);
          color: #fff;
          line-height: 21.76px;
          font-weight: 500;
        }

        .nav_address {
          font-size: 14px;
          max-width: 242px;
          color: #fff;
          line-height: 21.76px;
          font-weight: 500;
        }
      }

      .nav__social {
        display: flex;
        gap: rem(36);
        padding-left: rem(225);
        z-index: 10;

        a {

          &:hover {
            animation: ringShake 2s ease 0s 1 normal forwards;
          }
        }
      }

      .nav__phone {
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        margin-left: 40px;
        gap: rem(13);
        z-index: 10;

        .nav__number {
          display: flex;
          color: #fff;
          font-family: Kudryashev, sans-serif;
          font-size: 22px;
          font-weight: 700;
          line-height: 26.4px;
          letter-spacing: 0.05em;
          transition: .3s;
          cursor: pointer;

          &:hover {
            transform: translateY(3px) scale(102%);
          }
        }

        .nav__desc {
          display: block;
          color: #fff;
          font-size: 12px;
          font-weight: 700;
          line-height: 14.63px;
          background-color: transparent;
          border: none;
          border-bottom: 2px solid #D5B7A0;
          cursor: pointer;
          transition: border-bottom-color .5s;

          &:hover {
            border-bottom: 2px solid #fff;
          }
        }
      }
    }

    .main {
      display: flex;
      flex-direction: column;


      .main__title {
        display: flex;
        flex-direction: column;
        padding: rem(68) 0 0 0;
        max-width: rem(581);

        h1 {
          font-family: Kudryashev, sans-serif;
          font-size: rem(80);
          max-width: rem(580);
          color: #fff;
          font-weight: 200;
          margin: 0;
          text-transform: uppercase;
        }

        span {
          font-family: Kudryashev, sans-serif;
          margin: 0;
          color: #fff;
          display: block;
          font-size: rem(60);
          text-transform: uppercase;
        }
      }

      .main__desc {
        color: #fff;
        font-size: rem(23);
        max-width: rem(378);

        span {
          font-weight: 600;
        }
      }

      .appointment-btn {
        margin: rem(50) 0 rem(100);
      }
    }

    .header__background {
      position: absolute;
      display: block;
      top: rem(-50);
      right: rem(300);
      background-image: url('../images/bg-dots.svg');
      width: rem(546);
      height: rem(546);

      .header__background-text {
        position: absolute;
        bottom: 0;
        right: 16%;
        width: rem(223);
        height: rem(209);
      }

      .header__background-img {
        position: absolute;
        bottom: 16%;
        right: 36%;
        display: block;
        width: rem(12);
        height: rem(12);
        border-radius: 50%;
        background-color: #fff;
      }
    }

    .sidebar-btn {
      display: none;
    }
  }
}

.problems {
  display: flex;
  background-color: #fff;
  width: 100%;
  position: relative;

  .background-dots {
    position: absolute;
    top: 0;
    left: calc(1920px / 2 - 273px);
  }

  .problems__banner {

    .problems__banner-img {
      position: relative;
      width: rem(644);
      margin: rem(93) 0 rem(232) rem(264);
      z-index: 10;
    }

    .problems__banner-text {
      position: absolute;
      left: rem(186);
      bottom: rem(263);
      z-index: 20;
    }

    .problems__banner-rectangle {
      position: absolute;
      left: rem(132);
      bottom: rem(161);
      width: rem(711);
      height: rem(384);
      background-color: #F0E3DA;
    }
  }

  .problems__solution {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: rem(245) 0 0 rem(72);

    h1 {
      top: rem(120);
      left: -90px;
      position: absolute;
      font-family: Kudryashev, sans-serif;
      font-size: rem(88);
      text-transform: uppercase;
      padding: 0;
      margin: 0;
      font-weight: 400;
      z-index: 10;
    }

    h2 {
      font-family: Kudryashev, sans-serif;
      font-size: rem(88);
      text-transform: uppercase;
      margin: 0;
      font-weight: 400;
    }

    .header-problems {
      font-size: rem(76);
      color: #B68C6E;
    }

    .header-procedure {
      padding: 0;
      margin: 0;
      color: #312C38;
      font-size: rem(20);
      text-transform: uppercase;
      font-weight: 400;
    }


    .problems__solutions {
      display: flex;
      width: 100%;
      margin-top: rem(45);

      ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        list-style: none;
        padding: 0;

        li {
          display: flex;
          align-items: center;
          gap: rem(26);
          width: 50%;
          padding-top: 25px;


          span {
            max-width: rem(226);
            font-weight: 400;
            letter-spacing: .5px;
            line-height: 29.68px;
          }
        }
      }
    }

    .appointment-btn {

      span {
        mask-image: url('../images/appointment-btn/dust/arrow.svg');
        background-color: #B68C6E;
      }

      button {
        color: #000;
      }
    }
  }

  .problems__line {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.procedure {
  display: flex;
  width: 100%;

  .procedure__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #1D1D1A;
    padding: rem(165) 0;

    .procedure__title {
      display: flex;
      flex-direction: column;
      max-width: rem(521);

      h2 {
        font-weight: 400;
        font-family: Kudryashev, sans-serif;
        color: #B68C6E;
        font-size: rem(50);
        text-align: center;
        margin: 0;
      }

      h3 {
        color: #FFFFFF;
        text-align: center;
        line-height: rem(36);
        font-weight: 400;
        font-size: rem(18);
        margin-top: rem(22);
      }
    }

    .procedure__form {
      display: flex;
      flex-direction: column;
      gap: rem(22);
      margin-top: rem(22);
      width: 55%;

      label {
        display: flex;
        width: 100%;

        input {
          padding: 0 rem(40);
          width: 100%;
          height: rem(93);
          background-color: transparent;
          border: 2px solid #B68C6E;
          color: #FFFFFF;
          font-size: rem(25);

          &::placeholder {
            color: #504339;
            transition: .3s;
          }

          &:hover::placeholder {
            color: #FFFFFF;
            padding-left: 5%;
          }
        }
      }

      button {
        height: rem(93);
        width: 100%;
        text-transform: uppercase;
        background-color: transparent;
        border: 2px solid #B68C6E;
        color: #FFFFFF;
        transition: .2s;

        &:hover {
          font-weight: 500;
          font-size: rem(20);
          color: #B68C6E;
        }

        &:active {
          font-weight: 500;
          font-size: rem(20);
          color: #B68C6E;
          transform: scale(95%);
        }
      }
    }
  }

  .procedure__banner {
    position: relative;
    display: flex;
    background-image: url("../images/procedure-promo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;

    img {
      position: absolute;
      top: rem(70);
      left: rem(70);
      width: rem(320);
      height: auto;
    }
  }
}

.example {
  width: 100%;
  position: relative;

  .example__wrapper {
    display: flex;
    flex-direction: column;
    padding: rem(110) rem(200) rem(100);

    .example__title {
      width: 100%;

      h1 {
        font-size: rem(85);
        font-weight: 400;
        max-width: rem(800);
        font-family: Kudryashev, sans-serif;
        line-height: 76.5px;
      }
    }

    .example__features {
      padding-top: rem(55);

      ul {
        display: flex;
        list-style-type: none;
        gap: rem(50);

        li {
          max-width: rem(320);

          h5 {
            margin: rem(27) 0 rem(15);
            font-weight: 600;
            text-transform: uppercase;
          }

          p {
            font-size: rem(16);
            letter-spacing: 1px;
          }
        }
      }
    }

    .example__slider-appointment {
      display: flex;
      width: 100%;
      justify-content: center;

      .example__slider {
        display: flex;
        justify-content: center;
        margin-top: rem(100);
        position: relative;
        z-index: 100;

        img-comparison-slider {

          &:focus {
            outline: none;
          }

          img:not(:last-child) {
            width: rem(450);
          }
        }

        .example__slider-after {
          position: absolute;
          left: calc(50% - 200px);
          bottom: rem(20);
          z-index: 100;
        }
      }

      .example__appointment {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: rem(120);

        h2 {
          margin-left: rem(64);
          font-family: Kudryashev, sans-serif;
          font-size: rem(85);
          color: #B68C6E;
          font-weight: 400;
        }

        h3 {
          margin-left: rem(160);
          font-family: Kudryashev, sans-serif;
          font-size: rem(120);
          font-weight: 400;
          line-height: 93.25px;
        }

        p {
          max-width: rem(360);
          margin-left: rem(160);
          margin-top: rem(50);
          font-size: rem(16);
          font-weight: 500;
          text-transform: uppercase;
          line-height: 36.9px;

          span {
            color: #B78C6E;
          }
        }

        .appointment-btn {
          margin-left: rem(80);
          z-index: 100;

          span {
            mask-image: url('../images/appointment-btn/dust/arrow.svg');
            background-color: #B78C6E;
          }

          button {
            color: black;
          }
        }
      }
    }
  }

  .example__line {
    position: absolute;
    top: 0;
    right: 12%;
  }

  .example__background-dots {
    position: absolute;
    bottom: 0;
    right: calc(50% - 500px);
  }
}

.clients {
  display: flex;
  width: 100%;
  background-color: #F0E3DA;

  .clients__wrapper {
    display: flex;
    flex-direction: column;
    margin: rem(110) rem(258);
    width: 100%;
    overflow: hidden;

    .clients__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .clients__title {
        display: flex;
        flex-direction: column;

        h2 {
          font-size: rem(85);
          font-weight: 400;
          font-family: Kudryashev, sans-serif;
          color: #B78C6E;
          margin: 0;
          padding: 0;

        }

        h3 {
          font-size: rem(85);
          font-weight: 400;
          font-family: Kudryashev, sans-serif;
          margin: 0;
          padding: 0;
        }
      }

      .clients__controls {
        display: flex;
        gap: rem(15);

        button {
          padding: 0;
          color: #DBBF8D;
          font-size: rem(55);
          background-color: #F9F4F0;
          width: rem(96);
          height: rem(96);
          border: none;
          transition: .2s;

          &:hover {
            transform: scale(105%);
            font-size: rem(60);
          }

          &:active {
            transform: scale(95%);
          }
        }
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000000;

  .footer__wrapper {
    display: flex;
    background-color: #D1AE8E;
    margin: rem(110) rem(260);

    .footer__logo {
      display: flex;
      flex-direction: column;
      padding-top: rem(65);
      padding-left: rem(70);

      span {
        width: rem(250);
        color: #fff;
        font-size: rem(16);
      }
    }

    .footer__menu {
      display: flex;
      flex-direction: column;
      margin-left: rem(90);
      margin-top: rem(97);

      h3 {
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: rem(16);
      }

      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding-top: rem(10);
        gap: rem(17);

        li {

          a {
            color: #fff;
            font-weight: 500;
          }
        }
      }
    }

    .footer__contacts {
      display: flex;
      flex-direction: column;
      margin-left: rem(160);
      margin-top: rem(97);
      gap: rem(10);

      h3 {
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: rem(16);
      }

      .footer__address {
        display: flex;
        flex-direction: column;
        gap: rem(5);

        span {
          color: #FFFFFF;
        }

        a {
          color: #FFFFFF;
          text-decoration: underline;
        }
      }

      .footer__mail {
        padding-top: rem(18);

        h4 {
          font-size: rem(12);
          color: #ffffff;
          font-weight: 500;
        }

        a {
          color: #ffffff;
          padding-top: rem(10);
          display: block;
        }
      }

      .footer__socials {
        padding-top: rem(18);

        h4 {
          font-size: rem(12);
          color: #ffffff;
          font-weight: 500;
        }

        ul {
          display: flex;
          list-style-type: none;
          gap: rem(15);
          padding-top: rem(10);
        }
      }
    }

    .footer__phone {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-top: rem(130);
      margin-left: rem(70);
      margin-bottom: rem(140);

      h3 {
        font-size: rem(12);
        color: #FFFFFF;
        font-weight: 400;
        margin: 0;
      }

      span {
        font-family: Kudryashev, sans-serif;
        font-size: rem(22);
        font-weight: 700;
        letter-spacing: 2px;
        color: #FFFFFF;
      }

      .tel-two {
        padding-top: rem(17);
      }

      a {
        font-weight: 700;
        padding-top: rem(22);
        color: #FFFFFF;
      }

      .footer__callback {
        display: block;
        padding-top: rem(10);
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        line-height: 14.63px;
        background-color: transparent;
        border: none;
        border-bottom: 2px solid #D5B7A0;
        cursor: pointer;
        transition: border-bottom-color .5s;

        &:hover {
          border-bottom: 2px solid #fff;
        }
      }
    }
  }

  .footer__copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(6);
    margin-bottom: rem(30);

    span {
      color: #DCD5CE;
      font-size: rem(16);
      text-align: center;
    }

    .footer__politics {
      cursor: pointer;
      text-decoration: underline;
      color: #DCD5CE;
    }
  }
}

.modal {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(211, 211, 211, 0.75);
  overflow: hidden;
  z-index: 99999;
  visibility: hidden;
  opacity: 0;

  .modal__wrapper {
    display: flex;
    flex-direction: column;
    width: rem(800);
    margin: auto;
    background-color: #1D1D1E;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    padding: rem(30) rem(50);
    align-items: center;

    .modal__header {
      display: flex;
      width: 100%;
      border-bottom: 1px solid #B78C6E;
      position: relative;

      .modal__title {
        font-family: Kudryashev, sans-serif;
        font-size: rem(35);
        color: #fff;
        letter-spacing: 3px;
        margin: 0 auto;
        padding: 0 0 rem(5);
      }

      .close__modal {
        position: absolute;
        background-color: transparent;
        width: rem(50);
        height: rem(50);
        color: #B78C6E;
        border: none;
        margin-left: auto;
        top: 0;
        right: 0;
        font-size: rem(40);
        transition: transform .3s;

        &:hover {
          transform: rotate(90deg);
        }
      }
    }

    .appointment-form {
      display: flex;
      flex-direction: column;
      gap: rem(22);
      margin-top: rem(22);
      width: 55%;

      label {
        display: flex;
        width: 100%;

        input {
          padding: 0 rem(40);
          width: 100%;
          height: rem(75);
          background-color: transparent;
          border: 2px solid #B68C6E;
          color: #FFFFFF;
          font-size: rem(25);

          &::placeholder {
            color: #504339;
            transition: .3s;
          }

          &:hover::placeholder {
            color: #FFFFFF;
            padding-left: 5%;
          }
        }
      }

      button {
        height: rem(75);
        width: 100%;
        text-transform: uppercase;
        background-color: transparent;
        border: 2px solid #B68C6E;
        color: #FFFFFF;
        transition: .2s;

        &:hover {
          font-weight: 500;
          font-size: rem(20);
          color: #B68C6E;
        }

        &:active {
          font-weight: 500;
          font-size: rem(20);
          color: #B68C6E;
          transform: scale(95%);
        }
      }
    }
  }
}

.sidenav {
  display: none;
}

/* ---------------- MEDIA-QUERY 430px ----------------- */

@media only screen and (max-width: 430px) {
  .header {
    max-height: rem(949);

    .header__wrapper {
      padding: 0 rem(25);
      background-image: url('../images/mobile-bg.png');
      background-repeat: no-repeat;
      background-size: cover;

      .nav {
        .nav__logo {
          margin-top: rem(11);

          a {
            img {
              width: rem(175);
            }
          }
        }

        .nav__info {
          display: none;
        }

        .nav__social {
          display: none;
        }

        .nav__phone {
          display: none;
        }
      }

      .main {
        height: 100%;

        .main__title {
          h1 {
            font-size: rem(30);
            line-height: 50px;
          }

          span {
            font-size: rem(30);
            line-height: 50px;
            width: rem(240);
          }
        }

        .main__desc {
          font-size: rem(12);
          width: 166px;
          line-height: rem(20);
        }

        .appointment-btn {
          margin: 0;
          width: auto;

          img {
            width: 110px;
          }

          span {
            margin-left: 12%;
          }

          button {
            font-size: rem(16);
          }
        }

      }

      .header__background {
        top: 2%;
        left: 40%;
        background-size: 50%;
        background-repeat: no-repeat;

        .header__background-text {
          display: none;
        }

        .header__background-img {
          display: none;
        }
      }

      .sidebar-btn {
        position: absolute;
        display: block;
        top: rem(20);
        right: rem(15);
        width: 40px;
        height: 40px;
        background-image: url('../images/drawer-icon.svg');
        background-color: transparent;
        border: none;
        color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
      }
    }
  }

  .problems {
    flex-direction: column;

    .problems__banner {
      position: relative;
      display: flex;
      justify-content: center;
      margin-top: rem(33);

      .problems__banner-img {
        width: rem(300);
        height: auto;
        margin: 0;
      }

      .problems__banner-text {
        left: 5%;
        bottom: 0;
        width: rem(140);
      }

      .problems__banner-rectangle {
        width: rem(267);
        height: rem(152);
        bottom: rem(-50);
        left: 0;
      }
    }

    .problems__solution {
      padding: rem(85) 0 0 25%;

      h1 {
        left: rem(30);
        top: rem(37);
        font-size: rem(37);
      }

      .header-problems {
        font-size: rem(37);
      }

      .header-procedure {
        font-size: rem(18);
      }

      .problems__solutions {
        ul {
          flex-wrap: nowrap;
          flex-direction: column;
          margin-top: 0;

          li {
            width: 100%;
          }
        }
      }

      .appointment-btn {
        width: rem(225);

        img {
          width: rem(88)
        }

        button {
          font-size: rem(18);
        }
      }
    }

    .background-dots {
      left: 0;
      top: 35%;
      width: 65%;
    }

    .problems__line {
      display: none;
    }
  }

  .procedure {
    flex-direction: column-reverse;

    .procedure__wrapper {
      width: 100%;
      padding: rem(35) 0;

      .procedure__title {

        h2 {
          margin: 0 auto;
          font-size: rem(35);
          text-align: center;
          width: 80%;
          line-height: 50px;
          font-weight: 400;
          letter-spacing: 4px;
        }

        h3 {
          text-align: center;
          font-size: rem(14);
          text-transform: uppercase;
          padding: 0 rem(15);
        }
      }
    }

    .procedure__form {
      width: 90% !important;
      align-items: center;
    }


    .procedure__banner {
      width: 100%;
      height: 600px;
      position: relative;
      background-image: url("../images/procedure-promo-mobile.png");
      background-size: cover;

      img {
        position: absolute;
        top: rem(26);
        left: rem(20);
        width: rem(180);
        height: auto;
      }
    }
  }

  .example {

    .example__wrapper {
      padding: rem(50) rem(0);

      .example__title {
        padding: 0 rem(14);

        h1 {
          font-size: rem(37);
          line-height: 40px;
        }
      }

      .example__features {
        padding: rem(34) rem(14) 0;

        ul {
          flex-direction: column;

          li {
            h5 {
              margin: rem(14) 0 rem(10);
            }
          }
        }
      }

      .example__slider-appointment {
        flex-direction: column-reverse;

        .example__slider {

          img-comparison-slider {
            width: 100%;

            img:not(:last-child) {
              width: 100% !important;
              height: auto;
            }
          }

          .example__slider-after {
            left: 0;
            bottom: rem(-20);
          }
        }

        .example__appointment {
          padding: rem(106) rem(14) 0;

          h2 {
            font-size: rem(37);
            margin-left: 0;
            line-height: 40.59px;
          }

          h3 {
            font-size: rem(37);
            margin-left: 0;
            line-height: 40.59px;
          }

          p {
            font-size: rem(18);
            margin-left: 0;
            max-width: 80%;
            line-height: 25px;
            text-wrap: wrap;
          }

          .appointment-btn {
            display: none;
          }
        }
      }
    }

    .example__background-dots {
      position: absolute;
      bottom: 500px;
      right: 10%;
      width: 70%;
    }

    .example__line {
      right: 0;
    }
  }

  .clients {
    padding: rem(44) 0 rem(20);

    .clients__wrapper {
      margin: 0;

      .clients__header {
        flex-direction: column;
        position: relative;

        .clients__title {
          h2 {
            font-size: rem(37);
            text-align: center;
          }

          h3 {
            font-size: rem(37);
            text-align: center;
          }
        }

        .clients__controls {
          position: absolute;
          width: 100%;
          justify-content: space-between;
          bottom: -150px;

          button {
            width: rem(40);
            height: rem(40);
            font-size: rem(25);
            z-index: 100;

            &:hover {
              transform: scale(105%);
              font-size: rem(25);
            }

            &:active {
              transform: scale(95%);
            }
          }
        }
      }
    }
  }

  .footer {
    background-color: #D1AE8E;

    .footer__wrapper {
      flex-direction: column;
      margin: 0;
      background-color: #D1AE8E;

      .footer__logo {
        display: none;
      }

      .footer__menu {
        margin: rem(40) 0 0;
        align-items: center;

        ul {
          align-items: center;
        }
      }

      .footer__contacts {
        margin: rem(39) 0 0;
        align-items: center;
        gap: rem(13);

        h3 {
          margin: 0;
        }

        .footer__address {
          align-items: center;
        }

        .footer__mail {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .footer__socials {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: rem(17) 0 0;

          h4 {
            margin: 0;
          }
        }
      }

      .footer__phone {
        margin: rem(28) 0 rem(35);
        align-items: center;

        a {
          padding-top: rem(18);
        }
      }
    }

    .footer__copyright {
      color: #fff;
      font-size: rem(14);

      .footer__copyrights {
        color: inherit;
        font-size: inherit;
      }

      .footer__politics {
        color: inherit;
        font-size: inherit;
        text-decoration: none;
      }
    }
  }

  .modal {

    .modal__wrapper {
      width: 100%;
      height: 100%;
      justify-content: center;
      border-radius: 0;
      padding: rem(30) rem(20);

      .modal__header {
        .modal__title {
          text-align: center;
          font-size: rem(25);
        }

        .close__modal {
          top: -10px;
          font-size: rem(35);
        }
      }

      .appointment-form {
        width: 100%;

        label {
          input {
            font-size: rem(15);
          }

          input::placeholder {
            font-size: rem(15);
          }
        }

        button {
          font-size: rem(12);
        }
      }
    }
  }

  .sidenav {
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(211, 211, 211, 0.75);
    z-index: 99999;
    transform: translateX(500px);
    transition: transform .5s;
    justify-content: end;
    box-shadow: rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

    .sidenav__wrapper {
      width: 200px;
      height: 100%;
      background-color: #1D1D1E;
      box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

      .close__sidenav {
        position: absolute;
        display: block;
        top: rem(8);
        right: rem(15);
        width: 40px;
        height: 40px;
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 20px;
      }

      .sidenav__menu {
        display: flex;
        flex-direction: column;
        padding: rem(20) rem(20);

        h3 {
          color: #fff;
          text-transform: uppercase;
          font-weight: 600;
          font-size: rem(16);
          border-bottom: 2px solid #B78C6E;
          padding-bottom: rem(2);
        }

        ul {
          display: flex;
          flex-direction: column;
          list-style: none;
          padding-top: rem(10);
          gap: rem(17);

          li {

            a {
              color: #B78C6E;
              font-weight: 500;
            }
          }
        }
      }

      .sidenav__social {
        display: flex;
        gap: rem(36);
        width: 100%;
        justify-content: space-around;
        padding: rem(10) rem(20) rem(5);
      }

      .sidenav__copyright {
        display: block;
        color: #fff;
        margin: rem(5) rem(20);
        padding-top: rem(10);
        font-size: rem(14);
        text-align: right;
        border-top: 2px solid #B78C6E;
      }
    }
  }

  .swiper-slide {
    display: flex !important;
    flex-direction: column;
  }

  .client-tile {
    border: none !important;
    align-self: center;
  }
}

/* ---------------- MEDIA-QUERY 1440px ----------------- */

@media only screen and (min-width: 431px) and (max-width: 1440px) {
  .header {
    .header__wrapper {
      padding: 0 rem(25) !important;

      .nav {
        .nav__social {
          margin-left: auto !important;
          padding-left: 0 !important;
        }
      }
    }
  }

  .example {
    .example__wrapper {
      padding: rem(110) rem(50) 0;
    }
  }

  .clients {
    .clients__wrapper {
      margin: rem(110) rem(50) !important;
    }
  }

  .footer {
    .footer__wrapper {
      margin: 0 0 rem(20) !important;
    }
  }
}

/* ---------------- MEDIA-QUERY 1650px ----------------- */

@media only screen and (min-width: 431px) and (max-width: 1650px) {
  .header {
    .header__wrapper {
      padding: 0 rem(100);

      nav {
        .nav__social {
          margin-left: auto !important;
          padding-left: 0 !important;
        }
      }
    }

    .header__background {
      right: 0 !important;
    }
  }

  .clients {
    .clients__wrapper {
      margin: rem(110) rem(150);
    }
  }

  .problems {
    .problems__banner {
      .problems__banner-img {
        margin: rem(93) 0 rem(232) rem(50);
      }

      .problems__banner-text {
        left: rem(50);
      }

      .problems__banner-rectangle {
        left: 0;
      }
    }
  }

  .footer {
    .footer__wrapper {
      display: flex;
      justify-content: center;
      margin: 0 0 rem(20) !important;

      .footer__logo {
        padding-left: 0;
      }
    }
  }
}

/* ---------------- MEDIA-QUERY 1850px ----------------- */

@media only screen and (min-width: 1650px) and (max-width: 1885px) {
  .footer {
    .footer__wrapper {
      display: flex;
      justify-content: center;
      margin: rem(110) rem(180) !important;

      .footer__logo {
        padding-left: 0;
      }
    }
  }
}

/* ---------------- appointment-btn ----------------- */

.appointment-btn {
  position: relative;
  display: flex;
  align-items: center;
  width: rem(345);
  height: rem(160);
  transition: transform .5s;
  cursor: pointer;

  &:hover {
    transform: scale(105%);
  }

  &:active {
    transform: scale(98%);
  }

  img {
    position: absolute;
  }

  span {
    mask-image: url('../images/appointment-btn/white/arrow.svg');
    width: rem(21);
    height: rem(10);
    margin-left: 17%;
    mask-repeat: no-repeat;
    mask-size: 100%;
    background-color: #fff;
  }

  button {
    margin-left: rem(16);
    color: #fff;
    background: transparent;
    border: none;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 600;
    line-height: 30.48px;
    letter-spacing: 0.05em;
    cursor: pointer;
  }
}

/* ---------------- swiper ----------------- */

.swiper {
  width: 100%;
  margin-top: rem(74);
}

.swiper-slide {
  display: flex !important;
  justify-content: center;
}

.swiper-button-disabled {
  opacity: 0;
}

/* ---------------- client-tile ----------------- */

.client-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  max-width: rem(300);
  height: auto;
  border-left: 1px solid rgba(128, 128, 128, 0.2);
  border-right: 1px solid rgba(128, 128, 128, 0.2);
  padding: 0 rem(30);

  &:first-child {
    border-left: none;
  }

  &:last-child {
    border-right: none;
  }

  .client-photo {
    width: rem(120);
  }

  .client-name {
    margin-top: rem(31);
    font-family: Kudryashev, sans-serif;
    text-align: center;
    font-size: rem(20);
    letter-spacing: rem(2);
    color: #1D1D1A;
  }


  .client-desc {
    margin-top: rem(10);
    text-align: center;
    line-height: rem(23);
    font-size: rem(14);
    color: #22211E;
  }
}

.client-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(30);

  ul {
    display: flex;
    gap: rem(35);
    list-style: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
    }
  }
}

/* ---------------- animation ----------------- */

@keyframes ringShake {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}

@keyframes modalAnim {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes modalCloseAnim {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* ---------------- modal ----------------- */

.prevent-scroll {
  overflow: hidden !important;
}

.modal-visible {
  animation: modalAnim .5s ease 0s 1 normal forwards;
}

.modal-hidden {
  animation: modalCloseAnim .5s ease 0s 1 forwards;
}