@import 'fonts';
@import 'utils';

* {
  font-family: Montserrat, sans-serif;
  scroll-behavior: smooth;
  // outline: red solid 1px;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1920px;
  background-color: #fff;
  overflow-x: hidden;
  // max-width: 1920px
  // outline: red solid 1px;
}

.header {
  display: flex;
  width: 100%;

  .header__wrapper {
    position: relative;
    padding: 0 rem(260);
    background-image: url('../images/header-bg.png');
    width: 100%;

    .nav {
      display: flex;
      width: 100%;
      align-items: center;

      &__info {
        display: flex;
        gap: rem(34);
        padding-left: rem(26);

        .nav__about {
          font-size: 14px;
          width: rem(173);
          color: #fff;
          line-height: 21.76px;
          font-weight: 500;
        }

        .nav_address {
          font-size: 14px;
          width: 242px;
          color: #fff;
          line-height: 21.76px;
          font-weight: 500;
        }
      }

      .nav__social {
        display: flex;
        gap: rem(36);
        padding-left: rem(225);
        z-index: 10;
      }

      .nav__phone {
        display: flex;
        flex-direction: column;
        margin-left: 40px;
        gap: rem(13);
        z-index: 10;

        a {
          display: block;

          .nav__number {
            display: block;
            color: #fff;
            font-family: Kudryashev, sans-serif;
            font-size: 22px;
            font-weight: 700;
            line-height: 26.4px;
            letter-spacing: 0.05em;
          }
        }

        .nav__desc {
          display: block;
          color: #fff;
          font-size: 12px;
          font-weight: 700;
          line-height: 14.63px;
        }
      }
    }

    .main {
      display: flex;
      flex-direction: column;


      .main__title {
        display: flex;
        flex-direction: column;
        padding: rem(68) 0 0 0;
        max-width: rem(581);

        h1 {
          font-family: Kudryashev, sans-serif;
          font-size: rem(80);
          max-width: rem(580);
          color: #fff;
          font-weight: 200;
          margin: 0;
          text-transform: uppercase;
        }

        span {
          font-family: Kudryashev, sans-serif;
          margin: 0;
          color: #fff;
          display: block;
          font-size: rem(60);
          text-transform: uppercase;
        }
      }

      .main__desc {
        color: #fff;
        font-size: rem(23);
        max-width: rem(378);

        span {
          font-weight: 600;
        }
      }

      .main__checkin {
        position: relative;
        display: flex;
        align-items: center;
        width: rem(345);
        height: rem(160);

        img {
          position: absolute;
        }

        span {
          mask-image: url('../images/checkin-btn/arrow.svg');
          width: rem(21);
          height: rem(10);
          margin-left: 17%;
          mask-repeat: no-repeat;
          mask-size: 100%;
          background: #fff;
        }

        button {
          margin-left: rem(16);
          color: #fff;
          background: transparent;
          border: none;
          text-transform: uppercase;
          font-size: 25px;
          font-weight: 600;
          line-height: 30.48px;
          letter-spacing: 0.05em;
        }
      }
    }

    .header__bg {
      position: absolute;
      display: block;
      top: rem(-50);
      right: rem(300);
      background-image: url('../images/bg-dots.svg');
      width: rem(546);
      height: rem(546);

      .header__circle-text {
        position: absolute;
        bottom: 0;
        right: 16%;
        width: rem(223);
        height: rem(209);
      }

      .header__bg-dots {
        position: absolute;
        bottom: 16%;
        right: 36%;
        display: block;
        width: rem(12);
        height: rem(12);
        border-radius: 50%;
        background-color: #fff;
      }
    }
  }
}

.problems {
  display: flex;
  background-color: #fff;
  width: 100%;
  position: relative;

  .background-dots {
    position: absolute;
    top: 0;
    left: calc(1920px / 2 - 273px);
  }


  .problems-banner {


    .banner-img {
      position: relative;
      width: rem(644);
      margin: rem(93) 0 rem(232) rem(264);
      z-index: 10;
    }

    .problem-text {
      position: absolute;
      left: rem(186);
      bottom: rem(263);
      z-index: 20;
    }

    .rectangle {
      position: absolute;
      left: rem(132);
      bottom: rem(161);
      width: rem(711);
      height: rem(384);
      background-color: #F0E3DA;
    }
  }

  .problems-solution {
    display: flex;
    flex-direction: column;
    position: relative;

    .problems-header {
      display: flex;
      flex-direction: column;
      margin-top: rem(140);

      h2 {
        font-family: Kudryashev, sans-serif;
        font-size: rem(88);
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        font-weight: 400;
      }

      .header-problems {
        font-size: rem(76);
        color: #B68C6E;
      }

      .header-procedure {
        padding: 0;
        margin: 0;
        color: #312C38;
        font-size: rem(20);
        text-transform: uppercase;
        font-weight: 400;
      }
    }

    .solutions {
      display: flex;
      width: 100%;

      ul {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        list-style: none;

        li {
          display: flex;
          align-items: center;
          gap: rem(26);
          width: 50%;

          span {
            max-width: rem(226);
            font-weight: 400;
            letter-spacing: .5px;
            line-height: 29.68px;
          }
        }
      }
    }
  }
}

.procedure {
  display: flex;
  width: 100%;

  .procedure__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #1D1D1A;
    padding: rem(165) 0;

    .procedure__title {
      display: flex;
      flex-direction: column;
      max-width: rem(521);

      h2 {
        font-weight: 400;
        font-family: Kudryashev, sans-serif;
        color: #B68C6E;
        font-size: rem(50);
        text-align: center;
        margin: 0;
      }

      h3 {
        color: #FFFFFF;
        text-align: center;
        line-height: rem(36);
        font-weight: 400;
        font-size: rem(18);
        margin-top: rem(22);
      }
    }

    .procedure__form {
      display: flex;
      flex-direction: column;
      gap: rem(22);
      margin-top: rem(22);
      width: 55%;

      label {
        display: flex;
        width: 100%;

        input {
          padding: 0 rem(40);
          width: 100%;
          height: rem(93);
          background-color: transparent;
          border: 2px solid #B68C6E;
          color: #FFFFFF;
          font-size: rem(25);

          &::placeholder {
            color: #504339;
            transition: .3s;
          }

          &:hover::placeholder {
            color: #FFFFFF;
            padding-left: 5%;
          }
        }
      }

      button {
        height: rem(93);
        width: 100%;
        text-transform: uppercase;
        background-color: transparent;
        border: 2px solid #B68C6E;
        color: #FFFFFF;
        transition: .2s;

        &:hover {
          font-weight: 500;
          font-size: rem(20);
          color: #B68C6E;
        }

        &:active {
          font-weight: 500;
          font-size: rem(20);
          color: #B68C6E;
          transform: scale(95%);
        }
      }
    }
  }

  .procedure__banner {
    position: relative;
    display: flex;
    background-image: url("../images/procedure-promo.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;

    img {
      position: absolute;
      top: rem(70);
      left: rem(70);
      width: 50%;
      height: rem(150);
    }
  }
}

.clients {
  display: flex;
  width: 100%;
  background-color: #F0E3DA;

  .clients-wrapper {
    display: flex;
    flex-direction: column;
    margin: rem(110) rem(258);
    width: 100%;
    overflow: hidden;

    .clients-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .clients-title {
        display: flex;
        flex-direction: column;

        h2 {
          font-size: rem(85);
          font-weight: 400;
          font-family: Kudryashev, sans-serif;
          color: #B78C6E;
          margin: 0;
          padding: 0;

        }

        h3 {
          font-size: rem(85);
          font-weight: 400;
          font-family: Kudryashev, sans-serif;
          margin: 0;
          padding: 0;
        }
      }

      .clients-controls {
        display: flex;
        gap: rem(15);

        button {
          color: #DBBF8D;
          font-size: rem(55);
          background-color: #F9F4F0;
          width: rem(96);
          height: rem(96);
          border: none;
          transition: .1s;

          &:hover {
            transform: scale(105%);
            font-size: rem(60);
          }

          &:active {
            transform: scale(95%);
          }
        }
      }
    }

    .clients-slider {
      display: flex;
      margin-top: rem(74);
      justify-content: center;
      transition: .4s;

      .client-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;
        max-width: rem(300);
        height: rem(348);
        border-left: 1px solid rgba(128, 128, 128, 0.2);
        border-right: 1px solid rgba(128, 128, 128, 0.2);
        padding: 0 rem(30);

        .client-name {
          font-family: Kudryashev, sans-serif;
          text-align: center;
          font-size: rem(20);
          letter-spacing: rem(2);
          color: #1D1D1A;
        }


        .client-photo {
          width: rem(120);
        }

        .client-desc {
          text-align: center;
          line-height: rem(23);
          font-size: rem(14);
          color: #22211E;
        }
      }

      .client-social {
        display: flex;
        align-items: center;
        justify-content: center;

        ul {
          display: flex;
          gap: rem(35);
          list-style: none;
          padding: 0;

          li {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #000000;

  .footer__wrapper {
    display: flex;
    background-color: #D1AE8E;
    margin: rem(110) rem(260);

    .footer__logo {
      display: flex;
      flex-direction: column;
      padding-top: rem(65);
      padding-left: rem(70);

      span {
        width: rem(250);
        color: #fff;
        font-size: rem(16);
      }
    }

    .footer__menu {
      display: flex;
      flex-direction: column;
      margin-left: rem(90);
      margin-top: rem(97);

      h3 {
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: rem(16);
      }

      ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        padding: 0;
        gap: rem(17);

        li {

          a {
            color: #fff;
            font-weight: 500;
          }
        }
      }
    }

    .footer__contacts {
      display: flex;
      flex-direction: column;
      margin-left: rem(160);
      margin-top: rem(97);

      h3 {
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
        font-size: rem(16);
      }

      .footer__address {
        display: flex;
        flex-direction: column;

        span {
          color: #FFFFFF;
        }

        a {
          padding-top: rem(10);
          color: #FFFFFF;
          text-decoration: underline;
        }
      }

      .footer__mail {
        h4 {
          font-size: rem(12);
          color: #ffffff;
          font-weight: 500;
        }

        a {
          color: #ffffff;
        }
      }

      .footer__socials {
        h4 {
          font-size: rem(12);
          color: #ffffff;
          font-weight: 500;
        }

        ul {
          display: flex;
          list-style-type: none;
          padding: 0;
          gap: rem(15);
        }
      }
    }

    .footer__phone {
      display: flex;
      flex-direction: column;
      margin-top: rem(130);
      margin-left: rem(70);
      margin-bottom: rem(140);

      h3 {
        font-size: rem(12);
        color: #FFFFFF;
        font-weight: 400;
        margin: 0;
      }

      span {
        font-family: Kudryashev, sans-serif;
        font-size: rem(22);
        font-weight: 700;
        letter-spacing: 2px;
        color: #FFFFFF;
      }

      .tel-two {
        padding-top: rem(17);
      }

      a {
        font-weight: 700;
        padding-top: rem(22);
        color: #FFFFFF;
      }

      .footer__callback {
        width: fit-content;
        border-bottom: 2px solid #DFC6B0;
      }
    }
  }

  .footer__copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: rem(6);
    margin-bottom: rem(30);

    span {
      color: #DCD5CE;
      font-size: rem(16);
      text-align: center;
    }

    .footer__politics {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}


/* ---------------- MEDIA-QUERY ----------------- */

@media only screen and (max-width: 430px) {
  body {
    width: 100%;
  }

  .header {
    max-height: rem(949);

    .header__wrapper {
      padding: 0 rem(25);
      background-image: url('../images/mobile-bg.png');
      background-repeat: no-repeat;
      background-size: cover;

      .nav {
        .nav__logo {
          margin-top: rem(11);

          a {
            img {
              width: rem(175);
            }
          }
        }

        .nav__info {
          display: none;
        }

        .nav__social {
          display: none;
        }

        .nav__phone {
          display: none;
        }
      }

      .main {
        height: 100%;

        .main__title {
          h1 {
            font-size: rem(30);
            line-height: 50px;
          }

          span {
            font-size: rem(30);
            line-height: 50px;
            width: rem(240);
          }
        }

        .main__desc {
          font-size: rem(12);
          width: 166px;
          line-height: rem(20);
        }

        .main__checkin {
          margin: 0;
          width: auto;

          img {
            width: 110px;
          }

          span {
            margin-left: 12%;
          }

          button {
            font-size: rem(16);
          }
        }

      }

      .header__bg {
        top: 2%;
        background-size: 50%;
        background-repeat: no-repeat;

        .header__circle-text {
          display: none;
        }

        .header__bg-dots {
          display: none;
        }
      }
    }
  }

  .problems {
    display: none;
  }

  .procedure {
    flex-direction: column-reverse;

    .procedure__wrapper {
      width: 100%;
      padding: rem(35) 0;

      .procedure__title {

        h2 {
          margin: 0 auto;
          font-size: rem(35);
          text-align: center;
          width: 80%;
          line-height: 50px;
          font-weight: 400;
          letter-spacing: 4px;
        }

        h3 {
          text-align: center;
          font-size: rem(14);
          text-transform: uppercase;
          padding: 0 rem(15);
        }
      }
    }

    .procedure__form {
      width: 90% !important;
      align-items: center;
    }


    .procedure__banner {
      width: 100%;
      height: 600px;
      position: relative;
      background-image: url("../images/procedure-promo-mobile.png");
      background-size: cover;

      img {
        position: absolute;
        top: rem(26);
        left: rem(20);
        width: 138px;
        height: auto;
      }
    }
  }

  .clients {
    display: none;
  }

  .footer {
    background-color: #D1AE8E;

    .footer__wrapper {
      flex-direction: column;
      margin: 0;
      background-color: #D1AE8E;

      .footer__logo {
        display: none;
      }

      .footer__menu {
        margin: rem(40) 0 0;
        align-items: center;

        ul {
          align-items: center;
        }
      }

      .footer__contacts {
        margin: rem(39) 0 0;
        align-items: center;
        gap: rem(13);

        h3 {
          margin: 0;
        }

        .footer__address {
          align-items: center;
        }

        .footer__mail {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .footer__socials {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: rem(17) 0 0;

          h4 {
            margin: 0;
          }
        }
      }

      .footer__phone {
        margin: rem(28) 0 rem(35);
        align-items: center;

        a {
          padding-top: rem(18);
        }
      }
    }

    .footer__copyright {
      color: #fff;
      font-size: rem(14);

      .footer__copyrights {
        color: inherit;
        font-size: inherit;
      }

      .footer__politics {
        color: inherit;
        font-size: inherit;
      }
    }
  }
}





