<section class='example'>
  <div class='example__wrapper'>
    <div class='example__title'>
      <h1>Преимущества процедуры</h1>
    </div>
    <div class='example__features'>
      <ul>
        <li>
          <img alt='clock' src='images/example/feature-icons/clock.svg'>
          <h5>Скорость</h5>
          <p>Введение нитей редко длится более получаса, а потому уже вскоре вы получите заветный эффект.</p>
        </li>
        <li>
          <img alt='surge' src='images/example/feature-icons/surge.svg'>
          <h5>Не нужен наркоз</h5>
          <p>Достаточно местной анестезии, что существенно сокращает всевозможные риски, связанные с мощными
            анестетиками.</p>
        </li>
        <li>
          <img alt='face' src='images/example/feature-icons/face.svg'>
          <h5>Нет вредя для здоровья</h5>
          <p>Введение нитей абсолютно безопасно. Процедура не несет существенной нагрузки на организм.</p>
        </li>
        <li>
          <img alt='eye' src='images/example/feature-icons/eye.svg'>
          <h5>Быстрый эффект</h5>
          <p>Сразу после процедуры будут заметны изменения.</p>
        </li>
      </ul>
    </div>
    <div class='example__slider-appointment'>
      <div class='example__slider'>
        <img-comparison-slider handle='true' keyboard='disabled'>
          <img alt='before' slot='first' src='images/example/before.png' />
          <img alt='after' slot='second' src='images/example/after.png' />
          <img alt='' slot='handle' src='images/example/divider.svg'>
        </img-comparison-slider>
        <img alt='after' class='example__slider-after' src='images/example/after-text.png'>
      </div>
      <div class='example__appointment'>
        <h2>Примеры</h2>
        <h3>работ </h3>
        <p>Устойчивый результат, гладкая кожа от <span>4х до 5 лет</span></p>
        <div class='appointment-btn callback'>
          <img alt='' src='images/appointment-btn/dust/circle1.svg'>
          <img alt='' src='images/appointment-btn/dust/circle2.svg'>
          <span></span>
          <button>Записаться</button>
        </div>
      </div>
    </div>
  </div>
  <img alt='line' class='example__line' src='images/example/example-line.png'>
  <img alt='background-dots' class='example__background-dots' src='images/bg-dots.svg'>
</section>