<header class='header'>
  <div class='header__wrapper'>
    <nav class='nav'>
      <div class='nav__logo'>
        <a href='index.html'>
          <img alt='Art Beauty Logo' src='images/logo.png'>
        </a>
      </div>
      <div class='nav__info'>
        <span class='nav__about'>Нитевой лифтинг лица в Санкт-Петербурге</span>
        <a class='nav_address' href='https://yandex.ru/maps/org/art_beauty/1638898967/?ll=30.342101%2C60.049722&z=17'
           target='_blank'>Санкт-Петербург,
          пр. Просвещения, д.33, корп.2</a>
      </div>
      <div class='nav__social'>
        <a href='https://vk.com' target='_blank'>
          <img alt='vk' src='images/social/vk.svg'>
        </a>
        <a href='https://instagram.com' target='_blank'>
          <img alt='instagram' src='images/social/instagram.svg'>
        </a>
        <a href='https://whatsapp.com' target='_blank'>
          <img alt='wa' src='images/social/whatsapp.svg'>
        </a>
      </div>
      <div class='nav__phone'>
        <a class='nav__number' href='tel:0000'>+7 (921) 967-61-88</a>
        <button class='nav__desc callback'>
          ЗАКАЗАТЬ ОБРАТНЫЙ ЗВОНОК
        </button>
      </div>
    </nav>
    <main class='main'>
      <div class='main__title'>
        <h1>Нитевой</h1>
        <span>лифтинг  кожи лица  и  шеи</span>
      </div>
      <p class='main__desc'>
        Позвольте себе выглядеть моложе на <span>5 лет</span>
      </p>
      <div class='appointment-btn callback'>
        <img alt='' src='images/appointment-btn/white/circle1.svg'>
        <img alt='' src='images/appointment-btn/white/circle2.svg'>
        <span></span>
        <button>Записаться</button>
      </div>
    </main>
    <div class='header__background'>
      <img alt='marketing' class='header__background-text' src='images/circle-text.svg'>
      <span class='header__background-img'></span>
    </div>
    <button class='sidebar-btn' id='sidebar-btn'></button>
  </div>
</header>